@font-face {
    font-family: Tinos;
    src: url(../Fonts/Tinos/TinosRegular.eot), url(../Fonts/Tinos/TinosBold.eot), url(../Fonts/Tinos/TinosBoldItalic.eot),url(../Fonts/Tinos/TinosItalic.eot);
    src: url(../Fonts/Tinos/TinosRegular.ttf) format("truetype"),url(../Fonts/Tinos/TinosBold.ttf) format("truetype"), url(../Fonts/Tinos/TinosBoldItalic.ttf) format("truetype"),url(../Fonts/Tinos/TinosItalic.ttf) format("truetype");   
    src: url(../Fonts/Tinos/TinosRegular.woff) format("woff"),url(../Fonts/Tinos/TinosBold.woff) format("woff"), url(../Fonts/Tinos/TinosBoldItalic.woff) format("woff"), url(../Fonts/Tinos/TinosItalic.eot) format("woff");      
}


@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlab/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabLight"; */
@font-face {
    font-family: "RobotoSlabLight";
    src: url("../fonts/RobotoSlab/RobotoSlabLight.eot");
    src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabBold"; */
@font-face {
    font-family: "RobotoSlabBold";
    src: url("../fonts/RobotoSlab/RobotoSlabBold.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
