@model ContestsPortal.Domain.Models.Post

@{
    ViewBag.Title = "Новость";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="blog-post" style="margin-left: 50px;">
            <h2 class="blog-post-title">@Html.DisplayFor(model => model.PostTitle)</h2>
            <p class="blog-post-meta">@Model.PublicationDate.ToShortDateString()</p>
            <code>
                @Html.DisplayFor(model => model.PostContent)
            </code>            
</div>
