@using ContestsPortal.WebSite.ViewModels.Account
@model IEnumerable<ContestsPortal.Domain.Models.Post>

@{     
    Layout = null;
}

@if (Model != null && Model.Any())
{         
    <h3>Новости от</h3>
    <ul class="nav nav-sidebar">
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("PostDetails", "Home", new {postId = item.PostId})">@item.PublicationDate</a></li>            
    }
    </ul>     
}
else
{<p>Ноостей нет.</p>}
